// Mixin
// ---------------------------
.blur(@deg: 0px) {
    -webkit-filter: blur(@deg);
    -moz-filter: blur(@deg);
    -o-filter: blur(@deg);
    -ms-filter: blur(@deg);
    filter: blur(@deg);
}

body {
    margin: 0;
}

// Scene
// ---------------------------
.scene {
    padding: 0;
    list-style: none;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}

li {
    width: 100%;
    height: 100%;
}

// Background styles
// ---------------------------
.background {
    background-image: url('../../img/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    .blur(1.5px);
}

// Midground styles
// --------------------------
.midground {
    background-image: url('../../img/midground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 110%;
    height: 110%;
    position: absolute;
    left: -50px;
    .blur(1px);
}

// Foreground styles
// --------------------------
.foreground {
    background-image: url('../../img/foreground.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 100%;
    height: 105%;
    width: 115%;
    position: absolute;
    left: -80px;
    bottom: -60px;
    .blur(0.7px);
}

// Banner styles
// --------------------------
.banner {
    background-image: url('../../img/banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50px;
}

