// Mixin
// ---------------------------
.blur(@deg: 0px) {
    -webkit-filter: blur(@deg);
    -moz-filter: blur(@deg);
    -o-filter: blur(@deg);
    -ms-filter: blur(@deg);
    filter: blur(@deg);
}

// variables
// ---------------------------
@mobile: 767px;
@smallMobile: 480px;

// Font
// ---------------------------
@font-face {
    font-family: kaushan;
    src: url('../../font/kaushan-script/KaushanScript-Regular.otf');
}

body {
    margin: 0;
}

// Scene
// ---------------------------
.scene {
    padding: 0;
    list-style: none;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;

    @media screen and (max-width: @mobile) {
        display: none;
    }
}

li {
    width: 100%;
    height: 100%;
}

// Background styles
// ---------------------------
.background {
    background-image: url('../../img/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    .blur(1.5px);
}

// Midground styles
// --------------------------
.midground {
    background-image: url('../../img/midground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 110%;
    height: 110%;
    position: absolute;
    left: -50px;
    .blur(1px);
}

// Foreground styles
// --------------------------
.foreground {
    background-image: url('../../img/foreground.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 100%;
    height: 105%;
    width: 115%;
    position: absolute;
    left: -80px;
    bottom: -60px;
    .blur(0.7px);
}

// Banner styles
// --------------------------
.banner {
    background-image: url('../../img/banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50px;
}

.text-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    top: 50%;
    margin-left: -15px;
}

// Name styles
// --------------------------
.name {
    font-family: kaushan, Helvetica, Arial, Sans-Serif;
    color: #AD3104;
    font-size: 60px;
    margin-top: 0;
}

// Error message in mobile size styles
// --------------------------
.error-message {
    display: none;
    position: relative;

    @media screen and (max-width: @mobile) {
        display: block;
        background-color: #E8E6E7;
    }

    .present-lid {
        position: absolute;
        height: 180px;
        width: 100%;
        background-color: #3C3C3C;
        border-bottom: 5px solid #272727;
    }

    .message-tag {
        position: absolute;
        top: 54%;
        right: 20%;
        z-index: 1;
        border: 2px dashed black;
        background-color: #A5DAE9;
        padding: 20px;
        border-radius: 8px;

        @media screen and (max-width: @smallMobile) {
            padding: 10px;
        }

        .hole {
            position: absolute;
            background-color: #A5DAE9;
            height: 60px;
            width: 40px;
            left: -40px;
            border-radius: 50px 0 0 50px;

            .dot {
                position: absolute;
                left: 15px;
                height: 15px;
                width: 15px;
                background-color: black;
                border-radius: 30px;
                top: 22px;
            }
        }

        p {
            font-family: kaushan, Helvetica, Arial, Sans-Serif;
            font-size: 16px;
            text-decoration: underline;
        }
    }

    .vertical,
    .horizontal {
        position: absolute;
    }

    .vertical {
        left: 25%;
        height: 100%;
        width: 60px;
        background-color: #AD2C4B;
    }

    .horizontal {
        top: 60%;
        height: 70px;
        width: 100%;
        border-bottom: 3px solid black;
        background-color: #BA2B4E;
    }
}
